<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/level.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/run_game.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/enemy.js') }}" defer></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/Overworld.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}" defer></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <title>CodeRPG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-stone-800 text-stone-100 overflow-hidden">
    {% include "side_navbar.html" %}
    
    <!-- Check for portait screen ratio -->
    {% include "portrait_mode.html" %}
    <!-- Gameplay Canvas section -->
    <div class="absolute top-0 left-0 w-full h-screen">
        <div class="relative" id="game_container">
            
            <!-- {% include "start_screen.html" %}
            {% include "win_screen.html" %} -->

            <canvas id="game_canvas"></canvas>

            <!-- Battle decisions -->
            <!-- {% include "battle.html"%} -->
        </div>
    </div>
    <!-- Audio -->
    <audio class="invisible" id="arrow_audio"  src="{{ url_for('static', filename='audio/arrow-shot.mp3') }}"></audio>
    <audio class="invisible" id="slurp_audio"  src="{{ url_for('static', filename='audio/slurp_attack.mp3') }}"></audio>
    <audio class="invisible" id="battle_music" loop src="{{ url_for('static', filename='audio/battle_music.mp3') }}"></audio>

    
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->