<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>CodeRPG</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-stone-950 text-stone-100 ">
    <div id="main_content" class="w-3/5 mx-auto mt-4">
            <!-- Register and Login, switch with JS -->
            <div id="login_reg_form_div" class="bg-stone-900 p-10 rounded-md w-2/5 mx-auto mt-60">
                <!-- Login -->
                <div id="user_login">
                    <h1 class="text-white  text-center font-semibold md:text-2xl lg:text-4xl">Code RPG</h1>
                    <div class="flex justify-center items-center my-2">
                        <img class="w-8" src="{{ url_for('static', filename='images/favicon.png') }}">
                        <h1 class="text-white text-center mx-2 md:text-sm lg:text-md">Log in to play!</h1>
                        <img class="w-8" src="{{ url_for('static', filename='images/favicon.png') }}">
                    </div>
                    {% with messages = get_flashed_messages() %} 
                        {% if messages %}  
                            <p class="text-sm text-red-400 font-semibold">Log In Error:</p>
                            {% for message in messages %}      
                                <p class="italic text-sm text-red-400">{{message}}</p>              
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="/" method="post" id="login_form" class="text-gray-700 space-y-10">
                        <input type="hidden" name="which_form" value="login_form">
                        <label class="mb-4" for="email"></label>
                        <input type="email" name="email" placeholder="Email" value="{{login_email}}" class="block w-full mx-auto border-b-2 border-gray-400 outline-none p-2">
                        <label for="password"></label>
                        <input type="password" name="password" placeholder="Password" class="block w-full mx-auto border-b-2 border-gray-400 outline-none p-2">
                        <button type="submit" class="w-full rounded-full text-white text-sm bg-blue-800 hover:bg-blue-700 py-2 mt-4">Log In</button>
                    </form>
                    <p class="mt-12 text-sm text-center">Need an account? Click <span class="text-blue-400 hover:text-blue-300 cursor-pointer" onclick="change_login_reg()">here</span></p>
                </div>
                <!-- Register -->
                <div id="user_register" class="hidden">
                    <h1 class="text-white  text-center font-semibold md:text-2xl lg:text-4xl">Code RPG</h1>
                    <div class="flex justify-center items-center my-2">
                        <img class="w-8" src="{{ url_for('static', filename='images/favicon.png') }}">
                        <h1 class="text-white text-center mx-2 md:text-sm lg:text-md">Register to start playing!</h1>
                        <img class="w-8" src="{{ url_for('static', filename='images/favicon.png') }}">
                    </div>
                    {% with messages = get_flashed_messages() %} 
                        {% if messages %}  
                            <p class="text-sm text-red-400 font-semibold">Registration Error:</p>
                            {% for message in messages %}      
                                <p class="italic text-sm text-red-400">{{message}}</p>              
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="/" method="post" id="registration_form" class="text-gray-700 space-y-10">
                        <input type="hidden" name="which_form" value="registration_form">
                        <label class="mb-4" for="username"></label>
                        <input type="text" name="username" placeholder="Username" class="block w-full mx-auto border-b-2 border-gray-400 outline-none p-2">
                        <label class="mb-4" for="email"></label>
                        <input type="email" name="email" placeholder="Email" class="block w-full mx-auto border-b-2 border-gray-400 outline-none p-2">
                        <label for="password"></label>
                        <input type="password" name="password" placeholder="Password" class="block w-full mx-auto border-b-2 border-gray-400 outline-none p-2">
                        <label for="confirm_password"></label>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" class="block w-full mx-auto border-b-2 border-gray-400 outline-none p-2">
                        <button type="submit" class="w-full rounded-full text-white text-sm bg-blue-800 hover:bg-blue-700 py-2 mt-4">Register</button>
                    </form>
                    <p class="mt-12 text-sm text-center">Have an account? Click <span class="text-blue-400 hover:text-blue-300 cursor-pointer" onclick="change_login_reg()">here</span></p>
                </div>
        
    </div>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->