<div id="win_screen_div" class="hidden absolute top-0 left-0 w-screen h-screen bg-green-700 z-10">
    <div id="win_screen_choices" class="w-1/5 mx-auto flex flex-col mt-40">
        <p class="text-center font-bold text-4xl mb-8">You win!</p>
        <p id="run_gold" class="text-center font-semibold text-xl mb-4"></p>
        <p id="run_xp" class="text-center font-semibold text-xl mb-4"></p>
        <p id="run_bonus" class="text-center font-semibold text-xl mb-4"></p>
        <button id="continue_button" class="p-1 hover:border-2 text-xs md:text-sm lg:text-xl ">Risk It & Continue Run</button>
        <button id="quit_button" onclick="end_run()" class="p-1 hover:border-2 text-xs md:text-sm lg:text-xl ">Quit & Cash Out</button>
    </div>
</div>