* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.p_left p, .p_left a {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.slim_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hover_head:hover h3 {
  text-decoration: underline;
}

/* Check if game is in portait mode */
@media (orientation: portrait) {
  #portrait_mode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #44403c;
    z-index: 50;
    visibility: visible;
  }
}

/* absolute top-0 left-0 w-screen h-screen bg-stone-700 z-10 */

/* Smartphone */
@media (max-width: 767px) {
  .p_left p,
  .p_left a {
    font-size: .75rem;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .p_left p,
  .p_left a {
    font-size: 1rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .p_left p,
  .p_left a {
    font-size: 1.25rem;
  }
}

/* Navbar section */

.navbar_hide {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.navbar_show {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

.half_opacity {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
}
.full_opacity {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}


/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 0em;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* For Firefox and other browsers */
  body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
/* Canvas styling */
#game_canvas {
  max-width: 100%;
  max-height: 100%;
}



/* (A) SPEECH BOX */
.speech {
  /* (A1) FONT */
 
  /* (A2) COLORS */
  background: #1c1917;
 
  /* (A3) DIMENSIONS + POSITION */
  position: relative;
  padding: 2%;
  border-radius: 10px;
  margin: 20% auto;
  max-width: 50%;
}

/* (B) ADD SPEECH "CALLOUT TAIL" */
/* (B1) USE ::AFTER TO CREATE THE "TAIL" */
.speech::after {
  /* (B1-1) ATTACH TRANSPARENT BORDERS */
  content: "";
  border: 2.5vw solid transparent;
 
  /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
  position: absolute;
}
 

 
/* (C2) LEFT */
.left.speech::after {
  /* (C2-1) LEFT TRIANGLE */
  border-right-color: #1c1917;
  border-left: 0;
 
  /* (C2-2) POSITION AT LEFT */
  left: -2.4vw; top: 50%;
  margin-top: -3vw;
}